<h1>Editing List Shopping</h1>

<%= render 'form', list_shopping: @list_shopping %>
<br/>
<%= link_to 'Show', @list_shopping, class:"btn btn-dark" %> |
<%= link_to 'Back', list_shoppings_path, class:"btn btn-dark" %>
